<div class="country-list">
  <ng-container *ngIf="!countriesDatabase.hasErrors">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="capital">
        <mat-header-cell *matHeaderCellDef> Capital </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.capital}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef> Region </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.region}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.area | number}} km<sup>2</sup></mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [routerLink]="['/country', row.alpha3Code]"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-container>
  <div [hidden]="!countriesDatabase.loaded || countriesDatabase.hasErrors">
    <mat-paginator #paginator
                  [length]="countriesDatabase.data.length"
                  [pageIndex]="0"
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <ng-container *ngIf="!countriesDatabase.loaded && !countriesDatabase.hasErrors">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-container>
  <ng-container *ngIf="countriesDatabase.hasErrors">
    <h1>Error while loading countries. Please try again later</h1>
  </ng-container>
</div>
